# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing
/test.py
